@charset "utf-8";

body{
background-image: url(ピクトグラム.jpg),url(ダイス.jpg);
background-repeat: no-repeat, no-repeat;
background-size: contain, cover;
 
}

#textshadow{
padding: 0 40px;
font-size: 30px;
}

.drop_shadow{
text-shadow: 2px 2px 3px #708090;
}

h1 box{
 box-shadow: 2px 2px 5px #708090 inset; padding: 5px; margin: 20px;
}

