@charset "utf-8";

body{
background-image: url(ピクトグラム.jpg),url(ダイス.jpg);
background-repeat: no-repeat, no-repeat;
background-size: 10px 10px, cover;
 
}

#textshadow{
padding: 0 40px;
font-size: 30px;
}

.drop_shadow{
text-shadow: 2px 2px 3px #708090;
}

#boxshadow{
 font-size: 30px;
}

.inset_shadow{
 box-shadow: 2px 2px 5px #A9A9A9 inset; padding: 5px; margin: 20px;
}

.transform{
 font-size: 10px;
 width:　100px;
 text-align: center;
 padding: 45px 0px;
 margin: 20px;
 background-color: #2F4F4F;
}

.skew{
transform: skew(25deg, 50deg);
}

.btn {
 background:linear-gradient(
  90deg,
  #00FFFF 0%,
  #FFFFFF 50%,
  #DC143C 100%,
 ); 
}

p.transition{
margin: 10px;
}

p.transition a{
 background-color: #00FFFF;
 color: #000000;
 font-size: 30px;
 text-decoration: none;
 padding: 5px;
 transition: 1s;
}

p.transition a:hover{
 background-color: #DC143C;
 color: #FFFFFF;
 text-decoration: none;
 padding: 5px;
}


